In [9]:
import requests
import pandas as pd
import bs4 as bs

In [10]:
url = 'https://eusc.uscpak.com/uscproducts/page/'
url_c = lambda x : 'https://eusc.uscpak.com/uscproducts/page/' + str(x)

Products = []

In [11]:
for i in range(1, 137):
    raw = requests.get(url_c(i))
    soup = bs.BeautifulSoup(raw.content, 'html.parser')
    table = soup.find('table')
    for items in table.tbody.find_all('tr'):
        data = items.find_all('td')
        Products.append({'Product Name': data[0].text, 'Category': data[1].text, 'Sale Price': data[2].text})

In [12]:
df =pd.DataFrame(Products)

,Product Name,Category,Sale Price
0,YOUNG B/B HONEY 200GM POUCh (06),Honey,355.0
1,YOUNG B/B HONEY 400GM POUCH (06),Honey,620.0
2,Chicken Spread 200Ml (06),"Jams, Jelly, Marmalades, Spreads, Mayonnaise",265.0
3,Chicken spread 500Ml Sap (06),"Jams, Jelly, Marmalades, Spreads, Mayonnaise",625.0
4,Young Chkn Sprd 1Kg (06),"Jams, Jelly, Marmalades, Spreads, Mayonnaise",1110.0
...,...,...,...
13537,ST Bread Small (LP)(LYH),Butter/Bread,129.0
13538,ST Bread Large (LP)(LYH),Butter/Bread,176.0
13539,AM Egg Per Pcs (LP)(D.G.K),Snacks (Biscuits Cake Chips),34.95
13540,AM Bread Small (LP)(D.G.K),Butter/Bread,139.8
13541,AM Bread Large (LP)(D.G.K),Butter/Bread,186.4

In [14]:
df.to_csv('Products.csv', index=False)

In [1]:
unique_categories = df['Category'].unique()
unique_categories_with_index = []
for index,u in enumerate(unique_categories,start=1):
    unique_categories_with_index.append({'category': u,'index':index})

NameError: name 'df' is not defined

In [2]:
for cc in unique_categories_with_index:
    print(cc)

NameError: name 'unique_categories_with_index' is not defined

In [30]:
df['Category'] = df['Category'].apply(lambda x: [c['index'] for c in unique_categories_with_index if c['category'] == x][0])

In [56]:
df['Product Name'] = df['Product Name'].str.lower()

In [ ]:
for i,d in df.iterrows():
    (3, 'Orange Juice', 299, 40, '8901234567900', 1),
    sale_price = int(float(d['Sale Price']))
    print(f'("{d['Product Name']}",{sale_price},10,"00000000",1,{d['Category']}),')